/* hero */
a {
  color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  text-align: center;
}
.hero-content h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}
.hero-content p {
  font-size: 24px;
  margin: 10px 0 20px 0;
}
.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
  /* background: lightcoral; */
  padding: 10px;
}
.box-container .box {
  width: 230px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.4s;
}
.box-container .box:hover {
  transform: scale(1.05);
}
.box-container .box-one p,
.box-container .box-two p,
.box-container .box-three p,
.box-container .box-four p {
  font-size: 16px;
  margin: auto;
  color: #232323;
}

.drive-btn {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drive-btn p {
  font-size: 30px;
  font-weight: 500;
}
.drive-btn a {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.drive-btn a:hover {
  transform: scale(1.05);
}
@media (max-width: 998px) {
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 45px;
  }
  .hero-content p {
    font-size: 22px;
  }
  .box-container {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 35px;
    line-height: 1.5;
  }
  .hero-content p {
    font-size: 20px;
  }
}
@media (max-width: 585px) {
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .box-container {
    gap: 10px;
  }
  .box-container .box {
    width: 180px;
    padding: 10px;
    font-size: 14px;
  }
  .drive-btn p {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 450px) {
  .hero-content h1 {
    font-size: 28px;
  }
  .hero-content p {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .box-container .box {
    width: 150px;
    padding: 10px;
  }
  .drive-btn p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .drive-btn a {
    padding: 8px 16px;
    font-size: 14px;
  }
}

#reels-section,
#wedding-section,
#event-section,
#prewedding-section {
  scroll-margin-top: 50px;
  padding: 20px 60px;
  background: #fbfcfb;
}
.videography-title h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: #22333b;
}
.video-container {
  padding: 20px 0;
  margin-top: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 10px 0;
}
.video-box {
  width: 200px;
  height: 300px;
  grid-column: span 3;
  margin: auto;
  cursor: pointer;
}
.video-box video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
}
.video-modal video {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
}
.close-btn {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.bookBtn {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}
.booking-btn {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #22333b;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.booking-btn:hover {
  background-color: #c3cfe2;
}

/*------------ responsive ------------*/
@media (max-width: 998px) {
  .video-box {
    grid-column: span 4;
  }
}

@media (max-width: 767px) {
  #reels-section,
  #wedding-section,
  #event-section,
  #prewedding-section {
    padding: 20px;
  }
  .videography-title h2 {
    font-size: 40px;
  }
  .video-box {
    width: 200px;
    height: 300px;
    grid-column: span 6;
  }
  .video-box video {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 585px) {
  .videography-title h2 {
    font-size: 35px;
  }
  .video-box {
    width: 200px;
    height: 300px;
    grid-column: span 6;
  }
  .video-box video {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .videography-title h2 {
    font-size: 35px;
  }
  .video-box {
    width: 250px;
    height: 350px;
    grid-column: span 12;
  }
  .video-box video {
    width: 100%;
    height: 100%;
  }
  .video-modal video {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
  }
}
